<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Pemilih | E-Pemilu</title>
        <link href="/styles/stylesNew.css" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script defer src="/js/scripts.js"></script>
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="/"><img src="/images/ballot.png" style="height: 35px">
                E-Pemilu
            </a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">MENU</div>
                            <a class="nav-link" href="/admin">
                                <div class="sb-nav-link-icon"><i class="fas fa-vote-yea" width="16" height="16"></i></div>
                                Pemilihan
                            </a>
                            <a class="nav-link" href="/admin/calon">
                                <div class="sb-nav-link-icon"><i class="fas fa-user-graduate" width="16" height="16"></i></div>
                                Calon
                            </a>
                            <a class="nav-link" href="/admin/pemilih">
                                <div class="sb-nav-link-icon"><i class="fas fa-users" width="16" height="16"></i></div>
                                Pemilih
                            </a>
                            <a class="nav-link" href="/logout">
                                <div class="sb-nav-link-icon"><i class="fas fa-sign-out-alt" width="16" height="16"></i></div>
                                Keluar
                            </a>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Login sebagai:</div>
                        <%= username %>
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="my-4">Daftar Pemilih</h1>
                        <div class="card mb-4">
                            <div class="card-header">
                                <svg class="svg-inline--fa fa-table me-1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="table" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M64 256V160H224v96H64zm0 64H224v96H64V320zm224 96V320H448v96H288zM448 256H288V160H448v96zM64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64z"></path></svg><!-- <i class="fas fa-table me-1"></i> Font Awesome fontawesome.com -->
                                Pemilih
                            </div>
                            <div class="card-body">
                                <div class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">
                                    <div class="datatable-container">
                                        <table class="datatable-table" id="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Id</th>
                                                    <th scope="col">Nama</th>
                                                    <th scope="col">Umur</th>
                                                    <th scope="col">Jenis Kelamin</th>
                                                    <th scope="col">Alamat</th>
                                                    <th scope="col">Pendidikan</th>
                                                    <th scope="col">Desa</th>
                                                    <th scope="col">Kota</th>
                                                    <th scope="col">Provinsi</th>
                                                    <th scope="col">Edit</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% table.forEach((element) => { %> 
                                                <tr>
                                                    <form method="post" action="detailPemilih">
                                                        <td hidden><input id="id" name="idPemilih" value="<%= element.pemilih_id%>" hidden></td>
                                                        <td><%= element.pemilih_id%></td>
                                                        <td><%= element.nama %></td>
                                                        <td><%= element.umur %></td>
                                                        <td><%= element.jenis_kelamin %></td>
                                                        <td><%= element.alamat %></td>
                                                        <td><%= element.pendidikan %></td>
                                                        <td><%= element.nama_desa %></td>
                                                        <td><%= element.nama_kota %></td>
                                                        <td><%= element.nama_provinsi %></td>
                                                        <td><input class="btn btn-primary" type="submit" value="Edit"></td>
                                                    </form>
                                                </tr>
                                                <% }); %>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="datatable-bottom">
                                        <nav class="datatable-pagination">
                                            <ul class="datatable-pagination-list">
                                                <% if (previousPage === undefined) { %>
                                                    <li class="datatable-pagination-list-item datatable-hidden datatable-disabled">
                                                        <a class="datatable-pagination-list-item-link" href="<%= previousPage %>">‹</a>
                                                    </li>
                                                <% } else { %>
                                                    <li class="datatable-pagination-list-item datatable-active">
                                                        <a class="datatable-pagination-list-item-link" href="<%= previousPage %>">‹</a>
                                                    </li>
                                                <% } %>
                                                
                                                <% if (nextPage === undefined) { %>
                                                    <li class="datatable-pagination-list-item datatable-hidden datatable-disabled">
                                                        <a class="datatable-pagination-list-item-link" href="<%= nextPage %>">›</a>
                                                    </li>
                                                <% } else { %>
                                                    <li class="datatable-pagination-list-item datatable-active">
                                                        <a class="datatable-pagination-list-item-link" href="<%= nextPage %>">›</a>
                                                    </li>
                                                <% } %>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                </main>
            </div>
        </div>
    </body>
</html>